.footer{
    background-color: white;
    box-shadow: $color-3 0px 2px 6px 0px;
    margin: 10px;

    p{
        padding: 5px;
        font-style: italic;
        color: $color-2;
    }    
    
    .link{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}