.delet-success{
    width: 50%;
    margin: auto;
}
.post-view{
    position: relative;
    box-shadow: 1px 1px 0px 1px $color-1;
    border-radius: 15px;
    margin: 2% 6%;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    object{
        height: 500px;
        width: 800px;
    }
    .video{
        width: 800px;
        height: 500px;
        margin: 10px 0px;
    }
    .post-lien:hover{
        opacity: 0.6;
    }
    .delete-button-post{
        position: absolute;
        top: 0;
        right: 0;
    }
    .comment-content{
        width: 85%;
        overflow: hidden;
    }
    p{
        padding: 10px;
    }
    .text-color-3{
        color: $color-3;
        overflow-wrap: anywhere;
    }
    
    .post-img{
        width: 40%;
    }
    .post-footer{
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px black solid;
        margin-bottom: 10px;
        .count-like{
            margin-right: 5px;
        }
    }

    .add-comment{
        display: none;
        flex-direction: column;
        width: 80%;
        padding: 10px;
        button{
            width: max-content;
            margin: auto;
        }
    }

    .comment{
        position: relative;
        overflow: scroll;
        font-size: 13px;
        box-shadow: 1px 1px 0px 2px $color-3;
        border-radius: 10px;
        margin: 5px;
        padding: 3px;
        max-height: 180px;
        p{
            text-align: left;
        }
        .author{
            display: flex;
            padding: 5px;
        }

        .no-comment{
            text-align: center;
            font-weight: bold;
        }
        .comment_div{
            box-shadow: 1px 1px 3px 0px grey;
            border-radius: 20px;
            margin: 5px;
            position: relative;
            .delete-button-comment{
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .more-comment:hover{
            background-color: ghostwhite;
            border-radius: 20px;
            font-size: 16px;
        }
    }
}

@media(max-width: 910px){
    
    .post-view object{
        width: 700px;
    }
    .post-view .video{
        width: 600px;
        height: 350px;
    }
}

@media(max-width: 800px){
    .post-view .post-img{
        width: 60%;
    }
    .post-view object{
        width: 600px;
    }
}

@media(max-width: 680px){
    .post-view object{
        width: 400px;
        height: 350px;
    }
    .post-view .video{
        width: 400px;
        height: 250px;
    }
}

@media(max-width: 500px){
    .post-view .post-img{
        width: 60%;
    }
    .post-view object{
        width: 300px;
    }
    .post-view .video{
        width: 300px;
        height: 200px;
    }
    .post-footer div{
        display: flex;
    flex-direction: row;
    align-items: center;
        
    }
    .post-view .comment{
        max-height: 110px;
    }
    .post-view .comment-content{
        width: 100%;
    }
}

@media(max-width: 350px){
    .post-view object{
        width: 200px;
        height: 100px;
    }
    .post-view .video{
        width: 200px;
        height: 100px;
    }
}