.post-view{
    position: relative;
    box-shadow: 1px 1px 0px 1px $color-1;
    border-radius: 15px;
    margin: 2% 4%;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    .delete-button{
        position: absolute;
        top: 0;
        right: 0;
    }
    p{
        padding: 10px;
    }
    img{
        width: 300px;
        height: 150px;
    }
    .add-comment{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .count-like{
            margin-right: 5px;
        }
    }
    .comment{
        border: 1px solid $color-2;
        box-shadow: 1px 1px 1px gray;
        border-radius: 10px;
        margin: 5px;
        p{
            text-align: left;
        }
    }
}