.post-add-text{
    form{
    box-shadow: 1px 1px 0px 1px $color-1;
    border-radius: 15px;
    margin: 2% 4%;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    p{
        margin: 20px 10px;
    }
    .MuiFormControl-root{
        width: 80%;
    }   
    button{
        margin: 10px 0px;
    }
}
.add-img{
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
        display: none;
        width: 150px;
        height: 150px;
        padding: 5px;
        border: 3px $color-2 dotted;
    }
    span{
        margin: 10px 0px;
    }
    input{
        display: none;
    }
}

