.css-153eyq5-MuiModal-root-MuiDialog-root .MuiDialogContent-root{
    display: flex;
    flex-direction: column;
}
.css-153eyq5-MuiModal-root-MuiDialog-root .MuiDialogContent-root {
    padding: 30px;

    button{ 
        margin: 15px 10px;
    }
    span{ 
        padding: 10px;
    }
}
.avatar-content{
    margin-top: 10px;
    .active{  
        box-shadow: $color-2 2px 2px 2px;
    }
}
